
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

    .choto{

        margin: 0mm;
        height: 300px;
        width: 300px;
        background-color: rgba(255, 94, 0, 0.753);
        color: brown;
        transition-property: all;
        transition-duration: 10s;
        position: relative;
        border-radius: 50%;
        background-image: url(image/sala2.png);
        background-size: 100%;
        left: 45%;
    

    }

    .boro{
        height: 30px;
        width: 30px;
        position: relative;
        left: 5%;
        top: 3%;
        background-color: hwb(16 31% 0% / 0.651);
        background-image: none;
    }
    
    .mejo{
        height: 50px;
        width: 50px;
        position: relative;
        left: 77%;
        top: 70%;
        background-color: aqua;
        background-image: none;
        
    }

    .div2{
width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;
    }

    .sala{
     color: coral;
    }
    .wow{
        font-weight: 200;
    }

    .ancor{
        background-color: orange ;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        background-image: linear-gradient(80deg, rgb(212, 121, 16), tomato);
    }

    .akk{
        width: 100px;
        height: 100px;
        background-color: rgb(243, 121, 7);
        border-radius:0% 100% 100% 0% / 100% 0% 100% 0%  ;
        
    }

    .sob-thake{
        position: relative;
        left: 0%;
    
    }




    .nisar{
        width: 30%;
    }

    .round{
        width: 100px;
        height: 100px;
        background-color: coral;
        border-radius: 100%;
        position: relative;
        float: left;
        margin-top: 10%;
        
        
       
    }
    .dirac{
        width: 100px;
        height: 120px;
        background-color: white;
        position: relative;
        left: 44px;
    }
    .round2{
        width: 50px;
        height: 50px;
        background-color: white;
        position: relative;
        right: 25px;
        top: 13%;
    }

    .second{
        margin-right: 70px;
    
    }
    
    .kintu{
        background-color: rgba(69, 179, 230, 0.788);
    }

    .artical{
        width: 40%;
        float: left;
    }
    
    section{
        height: 300px;
    }
    .full{
        color: coral;
    }
    .first{
        width: 70%;
    }
.div3{
    box-shadow: 10px 10px 40px gray;
    border-radius:  10px;
}
#exprince{
    position: relative;
    left:30px;
}
#id1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(163, 20, 20), tomato);
    border-image-slice: 1;
}

#id2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(20, 22, 163), rgb(71, 212, 255));
    border-image-slice: 1;
}